<table border="1" cellpadding="1" cellspacing="1" style="border-radius:25px; border:2px solid #000000; heigth:100%; padding:20px; width:100%">
	<tbody>
	<tr>
		<td>
			<p>&nbsp; &nbsp; &nbsp; &nbsp;<img alt="" src="https://brilliantlink.co.za/wp-content/uploads/2016/06/brilliant-link-logo.png" style="height:50px; width:200px" /></p>

			<h3>&nbsp; &nbsp; &nbsp; Sage Evolution Solution Provider</h3>

			<h3><strong>&nbsp; &nbsp; &nbsp; BRILLIANT LINK (PTY) LTD</strong><br />
				&nbsp; &nbsp; &nbsp; P O Box 4292<br />
				&nbsp; &nbsp; &nbsp; Cresta</h3>

			<p>&nbsp;</p>

			<table border="1" cellpadding="1" cellspacing="1" style="border-radius:25px; border:2px solid #000000; float:left; margin-left:20px; margin-right:20px; padding:20px; width300px">
				<tbody>
				<tr>
					<td>
						<p style="text-align:center"><strong><span style="font-size:26px;color:#94215e">&nbsp;${docState}</span></strong></p>

						<p>&nbsp;</p>
					</td>
				</tr>
				</tbody>
			</table>

			<table align="center" border="0" cellpadding="1" cellspacing="1" style="float:right;margin:20px;padding:20px;width:300px">
				<tbody>
				<tr>
					<td>
						<pre>
Tax Registration</pre>
					</td>
					<td style="text-align:right">4250205129</td>
				</tr>
				<tr>
					<td>
						<pre>
Cell Phone</pre>
					</td>
					<td style="text-align:right">082 379 2008</td>
				</tr>
				<tr>
					<td>
						<pre>
Telephone</pre>
					</td>
					<td style="text-align:right">011-792 9521</td>
				</tr>
				<tr>
					<td>
						<pre>
Fax</pre>
					</td>
					<td style="text-align:right">011-792 9522</td>
				</tr>
				<tr>
					<td>
						<pre>
Email</pre>
					</td>
					<td style="text-align:right">Accounts@brilliantlink.co.za</td>
				</tr>
				<tr>
					<td>
						<pre>
Website</pre>
					</td>
					<td style="text-align:right">www.brilliantlink.co.za</td>
				</tr>
				</tbody>
			</table>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
		</td>
	</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="border-radius:25px; border:2px solid #000000; padding:20px; width:100%">
	<tbody>
	<tr>
		<td>
			<p><strong>&nbsp; &nbsp;&nbsp;<span style="font-size:16px">To</span>:<br />
				<span style="font-size:12px">&nbsp; &nbsp;</span><span style="font-size:16px"> ${customerName}</span></strong></p>

			<p><strong>&nbsp; </strong></p>

			<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
				<tbody>
				<tr>
					<td><strong>&nbsp; Postal Address:&nbsp; &nbsp;&nbsp;</strong></td>
					<td><strong>Physical Address:&nbsp; &nbsp;</strong></td>
					<td>
						<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
							<tbody>
							<tr>
								<td>Tax Registration</td>
							</tr>
							</tbody>
						</table>
					</td>
					<td>4270120829</td>
				</tr>
				<tr>
					<td>&nbsp; ${po1}&nbsp; &nbsp;&nbsp;</td>
					<td>${pa1}&nbsp; &nbsp;</td>
					<td>
						<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
							<tbody>
							<tr>
								<td>Telephone&nbsp;</td>
							</tr>
							</tbody>
						</table>
					</td>
					<td>${telephone}</td>
				</tr>
				<tr>
					<td>&nbsp; ${po2}</td>
					<td>${pa2}</td>
					<td>&nbsp;Fax &nbsp;</td>
					<td>${fax}</td>
				</tr>
				<tr>
					<td>&nbsp; ${po3}</td>
					<td>${pa3}</td>
					<td>&nbsp;Contact &nbsp;</td>
					<td>${contactPerson}</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>${pa4}</td>
					<td>&nbsp;Email &nbsp;&nbsp; &nbsp;</td>
					<td>${email1}</td>
				</tr>
				</tbody>
			</table>

			<p>&nbsp;</p>
		</td>
	</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="1" cellspacing="1" style="border-radius:25px; border:2px solid #000000; heigth:100%; padding:20px; width:100%">
	<tbody>
	<tr>
		<td style="text-align:center"><strong>Account</strong></td>
		<td style="text-align:center"><strong>Date</strong></td>
		<td style="text-align:center"><strong>Order No</strong></td>
		<td style="text-align:center"><strong>Rep No</strong></td>
		<td style="text-align:center"><strong>Our Reference</strong></td>
	</tr>
	<tr>
		<td style="text-align:center">${account}</td>
		<td style="text-align:center">${date}</td>
		<td style="text-align:center">${orderNo}</td>
		<td style="text-align:center">${repCode}</td>
		<td style="text-align:center">${reference}</td>
	</tr>
	</tbody>
</table>

<!----------------------->
<br>
<br>

<table style="width:100%">

	<thead>
    		<tr style="font-weight: bold;text-decoration: underline;">
    		<#list lines.fieldNames as fieldName>
    			<td>${fieldName}</td>
    		</#list>
    		</tr>
    	</thead>
	<tbody>
	<#list lines.tableRow as value>
	<#assign x="${value.docState}">
		<tr>


            			<td>${value.code}</td>
            			<td>${value.itemDescription}</td>
            			<td>${value.rep}</td>
            			<#if x=="Archived">
            				<td>${value.qtyProcessed}</td>
            			<#elseif x == "Unprocessed">
            				<td>${value.qtyOrdered}</td>
                             <td>${value.qtyProcessed}</td>
                             <td>${value.qtyToInvoice}</td>
                        <#elseif x == "Quotation">
                             <td>${value.qtyOrdered}</td>
                        <#elseif x == "Partially Processed">
                               <td>${value.qtyOrdered}</td>
                               <td>${value.qtyProcessed}</td>
                               <td>${value.qtyToInvoice}</td>
                     	</#if>


            			<td>${value.exclPrice}</td>
            			<td>${value.discount}</td>
            			<td>${value.tax}</td>
            			<td>${value.inclPrice}</td>

		</tr>
		</#list>
	</tbody>
</table>
<!---------------------->

<hr />


<br><br>

<table  border="0" cellpadding="1" cellspacing="1" style="float:right;width:200px">
	<tbody>
	<tr>
		<td><strong>Total(Exc):</strong></td>
		<td style="float:right;">${totalExc}</td>

	</tr>
	<tr>
		<td><strong>Tax 15%:</strong></td>
		<td style="float:right;"> ${tax}</td>

	</tr>
	<tr>
		<td><strong>Total (Incl) :</strong></td>
		<td style="float:right;">${totalIncl}</td>

	</tr>
	<tr>
		<td><strong>Discount :</strong></td>
		<td style="float:right;">${discount}</td>

	</tr>
	<tr>
		<td><strong>____________________</strong></td>
		<td><strong>________</strong></td>

	</tr>
	<tr>
		<td><strong>Total (Incl) R :</strong></td>
		<td style="float:right;">${totalInclFinal}</td>

	</tr>
</table>
<br>
<br><br><br>
<p>&nbsp; &nbsp; &nbsp;Signature:_________________________&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Date:_________________________</p>

<br>
<br>
<br>
<hr />

<br>
<p style="text-align:right"><strong>${docState}</strong></p>
<p style="text-align:right">Terms and Conditions Apply</p>

<p style="text-align:right">Sage Evolution (Registered to Brilliant Link (Pty) Ltd)<br>*e & oe excluded</p>

<h1 style="text-align:center"><strong><span style="color:#2ecc71"><span style="font-size:28px">Sage</span></span>&nbsp;</strong><span style="font-size:28px"><img alt="" />Be Sage. Build On.<br />
Business Partner-Super Platinum</span><br />
	&nbsp;</h1>